body {
font-family: 'Cabin', sans-serif;
}

/* Header formatting */
header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  width:100%;
  z-index: 1;
}

img.logo {
  padding-left: 1.5rem;
  height: 4rem;
}

a.title {
  color: rgb(55, 54, 54);
  font-weight: bold;
  font-size: 1.5rem;
}

span.academy {
  color: rgb(193, 186, 186);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(55, 54, 54);
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  padding-right: 1.5rem;
}

span.gap {
  width: 1.5rem;
  background-color: rgb(132, 209, 209);
  height: 4rem;
}

nav a:hover {
  color: white;
  height: 4rem;
  background-color: rgb(55, 54, 54);
  align-items: center;
  display: flex;
}

/* Section 1 design */
section.top {
  display: flex;
  background-color: rgb(199, 199, 199);
  height: 35rem;
  padding-top: 4rem;
}

img.top-container {
  width: 55%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto;
}

div.top-container {
  width:30%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: rgb(55, 54, 54);
  padding: 2rem 0;
}

span.title-text {
  padding: 1rem 0 3rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(55, 54, 54);
}

a.button {
  background-color: rgb(55, 54, 54);
  text-align: center;
  color: rgb(251, 250, 250);
  width: 90%;
  padding: 0.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-delay: 200ms;
}

a.button:hover {
  background-color: rgb(251, 250, 250);
  color: rgb(55, 54, 54);
  font-weight: bold;
}



/* Section 2 design */

.second-section {
  display: inline-flex;
  background-color: rgb(251, 250, 250);
}

.second-containers {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-right: 1.5rem;
  padding-bottom: 4rem;
}

.second-container img {
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto;
}

.second-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65%;
  width: 100%;
}

.second {
  display: flex;
}

.sub-text {
  color: black;
}

h1.second {
  padding: 2rem 0 1.5rem 0;
}

.second-container span.title-text {
  font-size: 1.25rem;
  line-height: 1.4;
}

aside {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.5rem;
  border-left: 1px solid lightgray;
  padding-bottom: 4rem;
}

.side-container {
  display: flex;
  padding: 1.45rem 0 1.45rem 0;
  margin-left: 2rem;
}

.side-container img {
  width: 190px;
  height: 55%;
}

.side-right {
  padding: 1.5rem 0 1.5rem 1.5rem;
}

img.second-picture {
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
  height: auto;
}

.side-containers {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  color: rgb(55, 54, 54);
  padding-bottom: 0.5rem;
}

h2 + span {
  display: block;
  padding-bottom: 1.5rem;
}

.side-button {
  color: rgb(124, 181, 255);
  transition-property: font-size;
  transition-delay: 50ms;
  transition-duration: 200ms;
}

a.side-button:hover {
  font-size: 1.5rem;
  font-weight: 700;
}

#third-side-container {
  background-color: rgb(223, 223, 223);
}

/* Section 3 Design */

.third-section {
  background-color: rgb(241, 241, 240);
}

.major-offerings {
  text-align: center;
  padding-top: 2rem auto;
}

.major-selection {
  display: flex;
  flex-basis: 80%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 2rem;
}

.majors {
  display: flex;
  flex-direction: column;
  width: 26%;
  margin: 1rem;
  background-color: white;
  height: 22rem;
}

.major {
  height: 50%;
}

img {
  height: 50%;
}

h3 {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

h6 {
  padding: 0.5rem 1rem;
}

p {
  padding: 0.5rem 1rem;
  line-height: 1.3rem;
}

/* Section 4 Design */
.fourth-title {
  background-color: rgb(251, 250, 250);
  padding: 2rem;
  text-align: center;
}

#first-side-container {
  background-color: rgb(223, 223, 223);
  border: none;
}

#second-side-container {
  border: none;
}

video {
  width: 55%;
  pointer-events: none;
}
video.side-picture {
  width: 100%;
  padding-left: 1.5rem;
}

.fourth-section-aside {
  border: none;
  display: block;
}

.side-containers.fourth-side {
  border: none;
}

/* Footer Design */
footer {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  border-top: 0.5px solid lightgray;
  background-color: rgb(251, 250, 250);
}

footer a {
  padding: 0.5rem;
}

a.buttons {
  transition-property: background-color;
  transition-duration: 400ms;
  transition-delay: 100ms;
}

a.buttons:hover {
  background-color: rgb(55, 54, 54);
  color: rgb(251, 250, 250);
  font-weight: bold;
}

h6,
p.classes {
  color: rgb(123, 123, 123)
}
